body{

font-family:Arial;

background:linear-gradient(
135deg,
#0f2027,
#203a43,
#2c5364
);

color:white;

margin:0;

}


.hidden{
display:none;
}


/* Container */

.container{

width:900px;

margin:auto;

text-align:center;

padding-top:40px;

}


/* Home button */

.home-btn{

position:fixed;

top:20px;

left:20px;

background:#ff4d4d;

border:none;

padding:12px 18px;

border-radius:10px;

color:white;

cursor:pointer;

}


/* Buttons */

.primary-btn{

background:linear-gradient(
90deg,
#00c6ff,
#0072ff
);

border:none;

padding:14px 28px;

border-radius:12px;

color:white;

cursor:pointer;

margin-top:20px;

}


/* Player name inputs */

.playerName{

padding:14px;

border-radius:10px;

border:none;

width:260px;

font-size:18px;

margin:10px;

text-align:center;

}


/* Boards */

#boards{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:40px;

margin-top:30px;

}


/* Player board */

.playerBoard{

background:rgba(255,255,255,0.1);

padding:20px;

border-radius:15px;

width:320px;

}


/* Grid */

.grid{

display:grid;

grid-template-columns:
repeat(5,70px);

gap:10px;

justify-content:center;

margin-top:20px;

}


/* Cells */

.cell{

width:70px;

height:70px;

background:white;

color:black;

display:flex;

align-items:center;

justify-content:center;

border-radius:10px;

font-size:20px;

font-weight:bold;

}


.marked{

background:#55ff00;

}


/* Input grid */

.cellInput{

width:70px;

height:70px;

border-radius:10px;

border:none;

text-align:center;

font-size:20px;

}


/* Winner */

#winnerText{

font-size:40px;

color:#ff0000;

margin-top:20px;

}


/* Turn */

.turn-text{

font-size:22px;

color:#00c6ff;

margin-top:10px;

}


/* Bottom */

.bottomCenter{

text-align:center;

margin-top:40px;

}


.call-section{

display:flex;

justify-content:center;

gap:30px;

align-items:center;

}


/* Called number */

#calledNumber{

font-size:60px;

margin-top:20px;

color:#00ffcc;

}

.topCenter{
text-align:center;
}