/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

/* BODY */

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#020024,
#090979,
#00d4ff
);

}


/* LOGIN BOX */

.login-container{

background:rgba(255,255,255,0.05);

padding:40px;

border-radius:25px;

width:90%;

max-width:380px;

text-align:center;

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.2);

box-shadow:

0 0 20px rgba(0,255,255,0.3),

0 0 60px rgba(0,0,0,0.6);

}


/* HEADINGS */

h1{

margin-bottom:10px;

font-size:28px;

background:linear-gradient(90deg,#00ffff,#ff00ff);

background-clip:text;
-webkit-background-clip:text;

color:transparent;

}


h2{

margin-bottom:20px;

color:white;

}



/* INPUT */

input{

width:100%;

padding:14px;

margin-top:10px;

border-radius:12px;

border:none;

font-size:16px;

background:rgba(255,255,255,0.08);

color:white;

outline:none;

}


/* PASSWORD BOX */

.password-box{

position:relative;

margin-top:10px;

}


.password-box input{

padding-right:40px;

}


/* EYE ICON */

.eye{

position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

font-size:18px;

color:#00ffff;

}


/* BUTTON */

button{

width:100%;

padding:14px;

margin-top:15px;

border:none;

border-radius:12px;

background:linear-gradient(
90deg,
#00ffff,
#7a00ff
);

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}


button:hover{

transform:scale(1.05);

box-shadow:0 0 20px cyan;

}