body{

margin:0;

font-family:Arial;

background:linear-gradient(
to right,
#0f2027,
#203a43,
#2c5364
);

color:white;

text-align:center;

}



.setupBox{

width:400px;

margin:auto;

margin-top:80px;

background:rgba(255,255,255,0.1);

padding:30px;

border-radius:15px;

}



input{

width:200px;

padding:10px;

margin-top:10px;

border-radius:8px;

border:none;

text-align:center;

font-size:18px;

}



button{

width:250px;

padding:12px;

margin-top:15px;

border-radius:10px;

border:none;

font-size:18px;

cursor:pointer;

background:#ddd;

}



.homeBtn{

position:absolute;

left:30px;

top:30px;

padding:10px 40px;

background:#ddd;

color:black;

text-decoration:none;

border-radius:10px;

}



.hidden{

display:none;

}



/* GAME LAYOUT */


.gameLayout{

display:flex;

justify-content:center;

gap:80px;

margin-top:50px;

}



/* BOARD */


#board{

display:grid;

gap:6px;

}



.cell{

width:70px;

height:70px;

background:white;

color:black;

font-size:30px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

border-radius:6px;

}



/* SOS COLOR */


.sos{

background:#c2185b !important;

border:3px solid #0b2545!important;

color:black;

}



/* RIGHT PANEL */


.rightPanel{

text-align:left;

font-size:22px;

}



#winner{

margin-top:30px;

font-weight:bold;

font-size:28px;

}

.letterSelect button{

width:120px;
padding:10px;
margin:5px;
font-size:18px;
border-radius:8px;
border:none;
cursor:pointer;


}

/* Selected button */

.selectedLetter{

background:#b317cb;

border:3px solid red;

}

.reset-btn,.homeBtn{

margin-top:15px;
padding:10px 20px;

border:none;
border-radius:8px;

background:#ff6666;
color:white;

font-size:16px;
cursor:pointer;

}

.reset-btn:hover{

background:#ff4444;

}